.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // z-index: -1;
  opacity: 0.15;
  overflow: hidden;

  // 這裡的CONTENT object-fit是讓背景影片不會超出正常範圍
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
